.banner {
  // position: relative;

  // .banner-slider {
  //   height: 100%;
  //   width: 100%;

  //   .banner-img {
  //     position: absolute;
  //     top: 0;
  //     left: 0;
  //     width: 100%;
  //     height: 100%;
  //     z-index: -1;
  //   }
  // }
}

.banner .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 64px 25px 76px 25px;
  position: relative;

  .banner-slider {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .slick-list {
      height: 100% !important;
    }

    .slick-track {
      height: 100% !important;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: left;
    }
  }

  @media only screen and (max-width: $bp-medium) {
    padding: 40px 25px 60px 25px;
  }

  .banner-subtitle {
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 25px;

    @media only screen and (max-width: $bp-full) {
      // font-size: 18px;
      // letter-spacing: 2px;
    }

    @media only screen and (max-width: $bp-huge) {
      font-size: 16px;
    }
  }

  .banner-heading {
    font-size: 68px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 60px;
    max-width: 100%;

    @media only screen and (max-width: $bp-full) {
      // max-width: 100%;
    }

    @media only screen and (max-width: $bp-huge) {
      font-size: 50px;
      margin-bottom: 50px;
    }

    @media only screen and (max-width: $bp-big) {
      font-size: 40px;
    }

    @media only screen and (max-width: $bp-medium) {
      font-size: 36px;
      margin-bottom: 40px;
    }

    :nth-child(1) {
      display: inline-block;
      width: 60%;

      @media only screen and (max-width: $bp-full) {
        width: 78%;
      }

      @media only screen and (max-width: $bp-medium) {
        width: 94%;
      }

      @media only screen and (max-width: $bp-small) {
        width: 100%;
      }
    }

    :nth-child(2) {
      display: inline-block;
      width: 100%;
    }
  }

  .banner-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;

    @media only screen and (max-width: $bp-huge) {
      margin-bottom: 40px;
    }

    @media only screen and (max-width: $bp-medium) {
      margin-bottom: 30px;
    }

    &__doc {
      height: 30px;
      width: 28px;
      fill: #ffffff6f;

      @media only screen and (max-width: $bp-huge) {
        height: 26px;
        width: 24px;
      }
    }

    &__down {
      height: 25px;
      width: 28px;
      fill: #ffffff6f;

      @media only screen and (max-width: $bp-huge) {
        height: 22px;
        width: 24px;
      }
    }
  }

  .banner-progress {
    display: flex;
    align-items: center;

    &__date {
      font-size: 20px;
      font-weight: 700;
      color: #fff;
      margin-right: 22px;
      margin-left: 50px;

      @media only screen and (max-width: $bp-huge) {
        font-size: 18px;
      }
    }

    &__line {
      width: 140px;
      height: 6px;
      border-radius: 100px;
      border: 1px solid #f7fafd;
      position: relative;

      @media only screen and (max-width: $bp-full) {
        width: 110px;
      }

      &::before {
        content: "";
        background-color: #f7fafd;
        height: 100%;
        width: 70%;
        position: absolute;
        top: 0;
        left: 0;

        @media only screen and (max-width: $bp-full) {
          width: 60%;
        }
      }
    }
  }
}
