// .services {
// }

.services .container {
  padding: 73px 28px 77px 46px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media only screen and (max-width: $bp-medium) {
    padding: 60px 25px 60px 25px;
  }

  .section-heading {
    font-size: 32px;
    font-weight: 700;
    color: $--color-primary-4;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 5px;
    margin-bottom: 40px;

    @media only screen and (max-width: $bp-full) {
      font-size: 28px;
      letter-spacing: 3px;
    }

    @media only screen and (max-width: $bp-huge) {
      font-size: 25px;
    }
  }

  .services-subtitle {
    font-size: 18px;
    font-weight: 300;
    width: 70%;
    text-align: center;
    margin-bottom: 60px;

    @media only screen and (max-width: $bp-full) {
      font-size: 17px;
    }

    @media only screen and (max-width: $bp-huge) {
      width: 80%;
    }

    @media only screen and (max-width: $bp-medium) {
      width: 90%;
    }

    @media only screen and (max-width: $bp-small) {
      width: 100%;
    }
  }

  .services-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    align-items: start;
    margin-bottom: 32px;

    @media only screen and (max-width: $bp-full) {
      gap: 30px;
    }

    @media only screen and (max-width: $bp-huge) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media only screen and (max-width: $bp-big) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media only screen and (max-width: $bp-medium) {
      grid-template-columns: 1fr;
      gap: 0;
    }
  }

  .services-item {
    display: flex;
    align-items: start;
    column-gap: 18px;
    row-gap: 65px;

    @media only screen and (max-width: $bp-medium) {
      &:not(:last-child) {
        margin-bottom: 50px;
      }
    }

    &__img {
      width: 80px;
      height: 80px;

      @media only screen and (max-width: $bp-full) {
        width: 60px;
        height: 60px;
      }
    }

    &__content {
      &-name {
        font-size: 20px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 3px;
        margin-bottom: 5px;

        @media only screen and (max-width: $bp-full) {
          font-size: 16px;
          letter-spacing: 2px;
        }
      }

      &-description {
        font-size: 18px;
        color: $--color-red-2;
        font-family: roboto;
        font-weight: 300;
        margin-bottom: 30px;

        @media only screen and (max-width: $bp-full) {
          font-size: 15px;
        }

        @media only screen and (max-width: $bp-medium) {
          margin-bottom: 25px;
        }
      }

      &-link:link,
      &-link:visited {
        display: inline-block;
        font-size: 18px;
        color: $--color-primary;
        text-decoration: none;
        text-transform: uppercase;
        font-family: roboto;
        font-weight: 400;
        border-bottom: 2px solid transparent;

        @media only screen and (max-width: $bp-full) {
          font-size: 15px;
        }
      }

      &-link:hover,
      &-link:active {
        border-bottom: 2px solid $--color-primary-2;
      }
    }
  }

  .services-block {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__link {
      display: inline-block;
      width: 55px;
      height: 55px;
      border: 1px solid $--color-primary-5;
      border-radius: 50%;
      margin-bottom: 14px;

      display: flex;
      justify-content: center;
      align-items: center;

      @media only screen and (max-width: $bp-full) {
        width: 40px;
        height: 40px;
      }
    }

    &__icon {
      width: 24px;
      height: 24px;
      fill: $--color-primary-5;

      @media only screen and (max-width: $bp-full) {
        width: 20px;
        height: 20px;
      }
    }

    &__text {
      font-size: 18px;
      font-family: Roboto;
      font-weight: 400;
      color: $--color-primary;
      text-transform: uppercase;

      @media only screen and (max-width: $bp-full) {
        font-size: 15px;
      }
    }
  }
}
